.big_modal {
  background-color: white;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  overflow: hidden;
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 10;

  
}
.big_modal::-webkit-scrollbar {
  display: none;
}
.setting_modal {
  padding: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.setting_modal::-webkit-scrollbar {
  display: none;
}
#pomo_lab,
#short_lab,
#long_lab {
  text-align: center;
  padding: 5px;
  font-size: 30px;
  margin-top: 11px;
  width: 120px;
  outline: none;
  background-color: #2a2f3b2c;
  border: none;
  border-radius: 5px;
}
#number {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  margin-top: 11px;
  width: 90px;
  outline: none;
  background-color: #2a2f3b2c;
  border: none;
  border-radius: 5px;
}

.time_input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.input1,
.input2,
.input3 {
  display: flex;
  flex-direction: column;
}
.setting_modal h2 {
  text-align: center;
}

.start_break,
.startPomo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 20px 0;
}
.all_sound {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}
.text_sound {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}
.pro_saund {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.tema {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.colors{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.red {
  width: 25px;
  height: 25px;
  background-color: #ba4949;
  border-radius: 4px;
}
.purple {
  width: 25px;
  height: 25px;
  background-color: #7e53a3;
  border-radius: 4px;
}
.blue {
  width: 25px;
  height: 25px;
  background-color: #38848a;
  border-radius: 4px;
}
.hour_format{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.dark{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

}
.window{
  display: flex;
  justify-content: space-between;
  padding: 10px 0 30px 0;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.199);

}
#small_window{
  padding: 8px 12px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.493);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#small_window img{
  width: 15px;
}
.apply{
  background-color: black;
  color: white;
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
.end{
  display: flex;
  justify-content: end;
}

.apply:hover{
  opacity: 85%;
}
a{
  text-decoration: none;
}
h2 {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 0;
  i {
    font-size: 23px;
    font-weight: 200;
  }
}
h1 {
  text-align: center;
  padding: 10px;
  color: rgb(73, 73, 73);
}
h3 {
  font-size: 23px;
  color: rgb(73, 73, 73);

  i {
    font-size: 23px;
    font-weight: 200;
    color: gray;
  }
}
































/* Asosiy button dizayni */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #d1d1d1;
  color: rgb(0, 0, 0);
  width: 150px;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-toggle:hover {
  background-color: #b4b4b4;
}
.dropdown-menu li {
  list-style: none; /* <--- Har bir li uchun ham alohida */
}

/* Menyu boshlanishda yashiringan bo‘ladi */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  border-radius: 4px;
  padding: 0;
  margin-top: 5px;
}

.dropdown-menu a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  transition: background 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/* Hoverda menyuni ko‘rsatish */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* From Uiverse.io by Galahhad */
.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: rgb(0, 218, 80);
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all 0.2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all 0.2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked + .slider {
  background: var(--switch-checked-bg);
}

.switch input:checked + .slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked + .slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked + .slider::before {
  left: calc(
    100% - var(--effect-width) - (var(--effect-width) / 2) -
      var(--switch-offset)
  );
}

.switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

/* From Uiverse.io by Galahhad */
/* level settings 👇 */

.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 6px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #51ff00;
  --level-transition-duration: 0.1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .volume {
  display: inline-block;
  vertical-align: top;
  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);
  height: auto;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}

/* From Uiverse.io by 3bdel3ziz-T */
.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  background-color: #2a2f3b;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #323741;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}
